.footer {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  flex-direction: column;
}

.footersomediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.footertext1 {
  width: 226px;
  height: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.footertext2 {
  width: 133px;
  height: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
  opacity: 0.2;
}
