.headerbutton {
  width: 150px;
  height: 44px;
  background: #02b589;
  border-radius: 100px;
  border: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 110px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  position: absolute;
  top: 0px;
}

.headertitle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #02b589;
}
