.Links {
  display: flex;
  width: 900px;
  height: auto;
  justify-content: space-evenly;
}

.Linkstitle {
  width: 150px;
  height: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.5;
}

.Linkslink {
  width: 264px;
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.linksbutton {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;

  border: 0;
  margin-top: 15px;
  background: #02b589;
  width: 150px;
  height: 40px;
  border-radius: 30px;
}
